@import url(colors.css);

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.msg{
	width: 60%;
	padding-left: 5px;
	margin-bottom: 5%;
}

.msg p{
	margin-top:0;
	width: 50px;
	height: 20px;
	margin-bottom: 0px;
	margin-right: 0;
}

.msg-text{
	background: var(--main-color);
	width:60%;
	min-height: 30px; /* Минимальная высота */ 
	padding-top:10px;
	padding-left: 5px;
	border-radius: 5px;
}

.buttonDelete{
	margin-left: 92%; 
	margin-top: -16px; 
	background-image: url(../image/button.jpg);
	width: 12px;
	height:12px;
	margin-bottom: 10px;
}

.time{
	margin-left: 82%;
	font-size: 80%;
	margin-top:-6%;
}