@import url(colors.css);

.login{
	width: 15%;
	height: 12%;
	position: absolute;
	right: 20%;
	border: solid;
    bottom: 80%;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.login p{
	position: absolute;
	top: 0%;
	left: 7%;
	font-size: 90%;
} 

.login input{
	width: 80%;
	height: 32%;
	font-size: 100%;
	position: absolute;
	right: 10%;
	top: 33%;
}

.msgBox{
    position: absolute;
    right: 50%;
    bottom: 30%;
    width: 30%;
    height: 50%;
    border-radius: 5px; /* Уголки */
    border: 1px solid grey;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.top{
	width: 100%;
	height: 6%;
	background: var(--main-color);
	border-radius: 5px 5px 0 0; /* Уголки */
}

.chat{
	width: 100% - 8px;
	height: 74%;
	background: white;
	padding-left: 8px;
}

.chat iframe{
	width: 99%;
	height: 100%;
	border: 0px;
}

.bottom{
	width: 100%;
	height: 20%;
	background: var(--main-color);
	position: absolute;
	bottom: 0;
	border-radius: 0 0 5px 5px; /* Уголки */
}

.text-and-button{
	height: 40%;
	width: 80%;
	background: white;
	position: absolute;
	left: 10%;
	top: 25%;
	border-radius:5px;
}

.text-and-button input{
	height: 85%;
	width: 79%;
	border: 0;
	position: absolute;
	left: 0;
	border-radius: 5px;
	outline: none;
	padding-left: 10px;
	padding-top: 3px;
}

.text-and-button button{
	height: 100%;
	width: 12%;
	background: white;
	position:absolute;
	right: 0;
	border: 0;
	border-radius: 5px;
	outline: none;
}